body{
    background-color: rgb(95, 143, 76);
}

header{
    background-color: rgb(92, 119, 88);
    text-align: center;
}

#img-cachorro{
    width: 300px;
}

.paragrafo{
    text-align: center;
    padding 30px;
    font-size: 20px;
}